body {
	background: var(--background);
	color: var(--color);
}

a {
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

.logo {
	background: url('../../../images/text-logo.png') 50% no-repeat;
	height: 72px;
	width: 268px;

	margin: 15px auto;
}

.login-width {
	width: 664px;
	margin: 0 auto;
}

.single-login-width {
	width: 400px;
	margin: 0 auto;
}

.login-box {
	padding: 35px;

	background: var(--login-box-background);

	-webkit-box-shadow: var(--login-box-shadow);
	-moz-box-shadow: var(--login-box-shadow);
	box-shadow: var(--login-box-shadow);

	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

.footer {
	text-align: center;
	padding: 25px;

	font-weight: 600;
	text-transform: uppercase;
	font-size: 9pt;
}

.logo-mobile {
	display: none;
}

.form-group > label {
	color: var(--form-group-label-color);
	text-transform: uppercase;
	font-size: 7pt;
	padding-left: 10px;
	padding-bottom: 3px;
}

.btn,
.form-control {
	height: inherit;

	padding: 14px;
    font-size: 9pt;
	font-weight: 600;
    line-height: normal;

    color: var(--form-control-color);
    background: var(--form-control-background);

    border: none;

	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}

.btn:hover,
.btn:focus,
.btn:active,
.form-control:hover,
.form-control:focus,
.form-control:active {
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-control:hover,
.form-control:focus {
	background: var(--form-control-hover-background);
}

.btn {
	padding: 16px;
	color: var(--button-color);
	background: var(--button-background);
	text-align: center;
	text-transform: uppercase;
	text-shadow: none;
}

.btn:hover,
.btn:active,
.btn:focus {
	color: var(--button-hover-color);
	background: var(--button-hover-background);
}

.btn-primary {
	color: var(--button-primary-color);
	background: var(--button-primary-background);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	color: var(--button-primary-hover-color);
	background: var(--button-primary-hover-background);
}

.login-btn {
	margin-top: 25px;
}

.forgot-password {
	text-align: right;
	padding-right: 15px;
	margin-top: -7px;
}

.forgot-password > a {
	font-size: 8pt;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--forgot-password-link-color);
}

.forgot-password > a:hover {
	color: var(--forgot-password-link-hover-color);
}

.forgot-password > a:hover,
.forgot-password > a:focus,
.forgot-password > a:active {
	text-decoration: none;
}

.login-col {
	width: 50%;
}

.login-or-span {
	padding: 10px;
}

.login-or-span > span {
	color: var(--login-or-span-color);
	font-size: 9pt;
	font-weight: 600;
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.sn-btn {
	padding: 0;
    text-align: left;

	max-width: 400px;

	display: table;
	vertical-align: middle;
}

.sn-btns > .sn-btn:not(:last-child) {
	margin-bottom: 20px;
}

.sn-btn > span,
.sn-btn > i {
	display: table-cell;
	vertical-align: middle;
}

.sn-btn > i {
	width: 50px;
	background: var(--btn-sn-icon-background);
	text-align: center;
	font-size: 14pt;
	padding-top: 1px;

	-webkit-border-top-left-radius: var(--border-radius);
	-moz-border-top-left-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);

	-webkit-border-bottom-left-radius: var(--border-radius);
	-moz-border-bottom-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.sn-btn > span {
	padding: 10px;
}

.sn-btn-fb {
	background: var(--btn-sn-facebook-background);
}

.sn-btn-fb:hover,
.sn-btn-fb:focus,
.sn-btn-fb:active {
	background: var(--btn-sn-facebook-hover-background);
}

.sn-btn-tw {
	background: var(--btn-sn-twitter-background);
}

.sn-btn-tw:hover,
.sn-btn-tw:focus,
.sn-btn-tw:active {
	background: var(--btn-sn-twitter-hover-background);
}

.sn-btn-gplus {
	background: var(--btn-sn-googleplus-background);
}

.sn-btn-gplus:hover,
.sn-btn-gplus:focus,
.sn-btn-gplus:active {
	background: var(--btn-sn-googleplus-hover-background);
}

.checkbox label {
	font-weight: 600;
}

.checkbox > span {
	position: relative;
	display: inline-block;
	background: var(--form-control-background);

	width: 26px;
	height: 26px;
	padding: 3px;

	-webkit-border-radius: var(--border-radius);
	-moz-border-radius: var(--border-radius);
	border-radius: var(--border-radius);
}

.checkbox input[type="checkbox"] {
	position: relative;
    top: 0;
    margin: 0;
    cursor: pointer;
}

.checkbox input[type="checkbox"]:before {
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    border: 2px solid var(--form-control-background);
	border-radius: var(--border-radius);
}

.checkbox input[type="checkbox"]:checked:before {
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);

	height: 10px;
    border-color: var(--checkbox-checked-color);
	border-width: 3px;
    border-top-style: none;
    border-right-style: none;
}

.checkbox input[type="checkbox"]:after {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: var(--form-control-background);
    cursor: pointer;
}

.alert {
	-webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    font-weight: 600;
	font-size: 9pt;

	background: var(--alert-background);
	color: white;
}

.alert-danger {
	background: var(--alert-danger-background);
}

.alert-info {
	background: var(--alert-info-background);
}

.alert-warning {
	background: var(--alert-warning-background);
}

.alert-success {
	background: var(--alert-success-background);
}

@media (max-width: 800px) {
	.single-login-width,
	.login-width {
		width: 100%;
		margin: 0 auto;
	}

	.va-table,
	.va-table-cell {
		display: block;
		width: 100%;
	}

	.login-or-span {
		text-align: center;
		padding: 20px 20px 10px 20px;
		margin: 0;
	}

	.sn-btns > label {
		display: block;
		width: 100%;
	}

	.sn-btn {
		display: inline-block;
	}

	.logo {
		background: url('../../../images/logo@2x.png') 50% no-repeat !important;
		width: 72px;
		height: 72px;
	}

	.alert,
	.login-box {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}

	.logo-mobile {
		display: block;
		margin: 15px;
		text-align: center;
		font-size: 16pt;
		text-transform: uppercase;
		color: var(--logo-mobile-color);
	}
}
