/**
 * @copyright 	2016 Can Designs
 * @name 		Admina
 * @author 		http://candesigns.de
 * @version		1.1
 */
* {
	outline: none !important;
}

html, body {
	height: 100%;
	position: relative;
}

body {
	cursor: default;
	background: #f6f6f6;
	color: #152231;
	font-family: 'Open Sans', arial, sans-serif;
}

a {
	color: #3747a4;

	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}

a:hover {
	color: #3b55e9;
}

.before-run {
	display: none;
}

.scrollable {
	overflow-x: hidden;
	overflow-y: auto;
}

.no-touch .scrollable.hover {
	overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
	overflow: visible;
	overflow-y: auto;
}

.no-touch::-webkit-scrollbar-button {
	width: 10px;
	height: 6px;
	background-color: rgba(50, 50, 50, 0.05);
}

.bg-primary {
	background: #3747a4;
}

.bg-primary-2 {
	background: #32429b;
}

.bg-white {
	background: #ffffff;
}

.header.navbar,
.footer.navbar {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    z-index: 1000;
}

.box-shadow,
.box-shadow-xs {
	-webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, .25);
	box-shadow: 0px 0px 7px rgba(0, 0, 0, .25);
}

.box-shadow-bottom {
	-webkit-box-shadow: 7px 1px 7px rgba(0, 0, 0, .25);
	-moz-box-shadow: 7px 1px 7px rgba(0, 0, 0, .25);
	box-shadow: 7px 1px 7px rgba(0, 0, 0, .25);
}

.navbar-brand {
	height: 60px !important;
}

.line-height {
	line-height: 60px !important;
}

.navbar-nav {
    margin: 0 !important;
}

.navbar {
	position: relative;
	min-height: 60px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}

.header-title,
.header-title h1 {
	line-height: 60px;
}

.header.navbar,
.footer.navbar {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	padding: 0;
	position: relative;
	z-index: 1000;
}

.header-title {
	display: block;
    width: 100%;
	margin: 0;
	font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-shadow: none;
	text-decoration: none;
}

.header-title,
.header-title h1 {
	margin: 0;
	font-weight: 300;
    font-size: 24px;
	line-height: 80px;
}

.header-title span {
	font-weight: 400;
}

.bg-white .text-muted {
	color: #666f79 !important;
}

.m-b-sm {
	margin-bottom: 13px;
}

.m-t-sm {
	margin-top: 13px;
}

.m-l-sm {
	margin-left: 5px;
}

.m-r-sm {
	margin-right: 5px;
}

.padder {
    padding-left: 15px;
    padding-right: 15px;
}

.text-sm {
    font-size: 12px;
}

.page-title {
	margin: 0;
	padding: 0;

	font-weight: 400;
	font-size: 19px;

	color: #818181;
}

nav .text-sm {
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
}

.p-2 {
	padding: 20px;
}

.va-table {
    display: table !important;
}

.va-table-cell {
	vertical-align: middle !important;
    display: table-cell !important;
}

.navbar-brand > img {
	display: inline-block;
}

.nav-primary > ul.nav-main > li > a {
	font-weight: 600;
	font-size: 11px;
	text-transform: uppercase;
	padding: 20px 15px;
}

.nav-primary > ul.nav-main > li > a > .ion,
.nav-primary > ul.nav-main > li > a > .icon,
.nav-primary > ul.nav-main > li > a > span {
	vertical-align: middle;
}

.nav-primary > ul.nav-main > li > a > .ion,
.nav-primary > ul.nav-main > li > a > .icon {
	font-size: 21px;
	width: 25px;
	vertical-align: middle;
}

.nav-primary > ul.nav-main > li > a > .pull-right {
	line-height: 20px;
}

.bg-white .nav-primary > ul.nav-main > li > a {
	background: #ffffff;
	color: #617082;
}

.bg-white .nav-primary > ul.nav-main > li:active > a,
.bg-white .nav-primary > ul.nav-main > li.active > a {
	background: #f5f5f5;
	color: #617082;
}

.bg-white .nav-primary > ul.nav-main > li:hover > a,
.bg-white .nav-primary > ul.nav-main > li:focus > a {
	background: #ffffff;
	color: #3747a4;
}

.navbar-brand,
.navbar-nav > li > a,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
	text-shadow: none;
	text-decoration: none;
	color: white;
}

.navbar-nav .open > a,
.nav .open > a:focus,
.navbar-nav .open > a:hover,
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
	background: #5c6bbe !important;
}

.nav-line {
	line-height: 60px !important;
}

.navbar-h-w {
	width: 60px;
}

.navbar-h-w,
.navbar-h {
	padding: 0 15px !important;
	text-align: center;
	display: block;
}

.navbar-h-w .ion,
.navbar-h-w .icon,
.navbar-h .ion,
.navbar-h .icon {
	font-size: 20px;
}

.open {
	z-index: 1050;
	position: relative;
}

.clear {
	clear: both;
}

.nav > li > a span {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

.nav-xs .nav > li > a span {
	font-size: 10px;
}

.nav-collapse {
	background: transparent;
}

.nav-xs .nav-primary > ul ul {
    display: none !important;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1050;
    width: 220px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.nav-xs .nav-primary li:hover > ul,
.nav-xs .nav-primary li:focus > ul,
.nav-xs .nav-primary li:active > ul {
    overflow: hidden;
	display: block !important;
}

.bg-white .nav-collapse > li > a {
	background: #f5f7f7;
	color: #617082;
	text-align: left;

	padding: 15px 43px;
}

.nav-xs .nav-primary .nav-collapse > li > a {
	padding: 15px;
}

.bg-white .nav-collapse > li:active > a,
.bg-white .nav-collapse > li.active > a {
	background: #f1f3f3;
	color: #313c4a;
}

.bg-white .nav-collapse > li:hover > a,
.bg-white .nav-collapse > li:focus > a {
	background: #ffffff;
	color: #313c4a;
}

.dropdown-menu {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	padding: 0;

	border-color: #e4e4e4;
}

.dropdown-menu > .divider {
	height: 1px;
	background: #f5f5f5;
	display: block;
	margin: 0;
}

.dropdown-menu > li > a {
	background: #ffffff;

	font-size: 12px;
	font-weight: 600;
	padding: 10px 20px;
}

.navbar-nav .open .dropdown-menu > li > a {
	padding: 10px 20px !important;
}

.dropdown-menu > li > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #717171;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background: #f9f9f9;
}

.dropdown-menu .ion,
.dropdown-menu .icon {
	vertical-align: middle;
	font-size: 17px;
}

.dropdown-menu > li > a > span {
	vertical-align: middle;
}

.nav-small-icon {
	font-size: 10px !important;
}

.tooltipster-theme {
	border-color: #f1f1f1;
	color: #636363;
}

.form-control {
    height: inherit;

	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	border-color: #e7e7e7;
	padding: 9px;
}

.form-control:hover:not([disabled]),
.form-control:active:not([disabled]),
.form-control:focus:not([disabled]) {
	border-color: #3747a4 !important;
}

.form-group {
    margin-bottom: 25px;
}

.search-form {
    height: 100%;
	width: 100%
	margin: 0;

	position: relative;
}

.search-input {
	height: 100%;
	width: 100%;

	font-size: 14px;
	font-weight: 400;
	padding: 10px 55px 10px 15px;
	color: #a4a4a4;
	background: #fff;

	border-left: none !important;
	border-right: none !important;
	border-top: none !important;

	border-bottom: 2px solid #8a97e4;

	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}

.search-input:hover,
.search-input:active,
.search-input:focus {
	border-left: none !important;
	border-right: none !important;
	border-top: none !important;

	border-color: #3747a4 !important;
}

.search-button {
	position: absolute;

	background: none !important;
	border: none !important;

	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;

	height: 100%;
	right: 15px;

	color: #bfbfbf;
	font-size: 20px;

	vertical-align: middle;
}

@media print {
	.hidden-print {
		display: none !important;
	}
}

@media (max-width: 849px) {
	.hidden-xs {
		display: none !important;
	}

	.dropdown-menu.pull-right {
	    right: auto;
	    left: auto;
		float: none !important;
	}

	.navbar-fixed-top-xs {
		position: fixed !important;
		left: 0;
		width: 100%;
		z-index: 1100;
	}

	.navbar-fixed-top-xs+* {
		padding-top: 60px !important;
	}

	.nav-bar-fixed-bottom {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		z-index: 1100;
	}
}

@media (min-width: 850px) {
	body {
		height: 100%;
		overflow: hidden;
	}

	.border-t-n {
	    border-top: none;
	}

	.section-top {
		top: 60px !important;
	}

	.section-top-p {
		padding-top: 60px !important;
	}

	.nav-xs .scrollable {
		overflow: visible;
	}

	.h-box.stretch {
		height: 100%;
		position: relative;
	}

	.h-box {
		display: table;
		table-layout: fixed;
		border-spacing: 0;
		width: 100%;
	}

	.v-box > section,
	.v-box > footer {
		top: 0;
		bottom: 0;
		width: 100%;
	}

	.v-box > section,
	.v-box > footer {
		position: absolute;
	}

	.h-box > aside,
	.h-box > section {
		display: table-cell;
		vertical-align: top;
		height: 100%;
		position: relative;
		float: none;
	}

	.h-box > aside.show,
	.h-box > aside.hidden-sm,
	.h-box > section.show,
	.h-box > section.hidden-sm {
		display: table-cell !important;
	}

	.vbox.flex > section > section {
		overflow: auto;
	}

	.v-box {
		display: table;
		border-spacing: 0;
		position: relative;
		height: 100%;
		width: 100%;
	}

	.v-box > footer {
		top: auto;
		z-index: 1000;
	}

	.v-box.flex > header,
	.v-box.flex > section,
	.v-box.flex > footer {
		position: inherit;
	}

	.v-box.flex > section {
		display: table-row;
		position: relative;
		height: 100%;
	}

	.v-box.flex > section > section {
		position: relative;
		height: 100%;
		-webkit-overflow-scrolling: touch;
	}

	.ie .v-box.flex > section > section {
		display: table-cell;
	}

	.v-box.flex > section > section > section {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.aside-md {
		width: 354px;
	}

	.section-top {
		top: 80px !important;
	}

	.section-top-p {
		padding-top: 80px !important;
	}

	.header-title,
	.header-title h1 {
		line-height: 80px;
	}

	.v-box > section.w-f {
		bottom: 60px;
	}

	.v-box > section.w-f-md {
		bottom: 80px;
	}

	.header-md {
		min-height: 80px;
	}

	.nav-line {
		line-height: 80px !important;
	}

	.header-md .navbar-brand {
		height: 80px !important;
	}

	.nav-xs {
		width: 70px;
		word-break: break-all;
    	text-align: center;
	}

	.nav-xs ul.nav-main > li > a > .ion,
	.nav-xs ul.nav-main > li > a > .icon {
		display: block;
		width: inherit;
	}

	.nav-xs .hidden-nav-xs {
		display: none !important;
	}

	.nav-right {
		float: right;
	}
}

@media (max-width: 849px) {
	.hidden-xs.show {
		display: inherit !important;
	}

	.box-shadow-bottom,
	.box-shadow-xs {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.nav-show {
		display: block !important;
		max-height: 300px;
		padding-top: 60px;

		overflow-y: auto;
	}

	.p-2 {
		padding: 15px;
	}
}
